# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
#cmd/gophermart/main
#cmd/gophermart/gophermart

cmd/server/main
cmd/server/server
cmd/client/main
cmd/client/client

#cmd/client/defaultfolder/ТЗ_выпускная_работа_1_v4.pdf
#cmd/client/defaultfolder/go1.21.6.linux-amd64.tar.gz

# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode

#.DS_Store
**/.DS_Store
